$c-white: #FFFFFF;
$c-agona-blue: #002DFF;
$c-bg-base: #F2F4F7;
$c-text-100: #000B26;
$c-text-64: rgba($c-text-100, 0.64);
$c-text-8: rgba($c-text-100, 0.08);
$c-text-80: rgba($c-text-100, 0.8);
$c-dark-grey: rgba(62, 80, 114, 0.24);


