@import "colors";

@mixin regular-style {
  font-style: normal;
  font-weight: 400;
}

//@mixin text-44 {
//  @include regular-style;
//  font-size: 2.75rem;
//  line-height: 24px;
//  font-weight: bold;
//  @include adaptive-font(44, 34)
//}

@mixin text-38 {
  @include regular-style;
  font-size: 2.375rem;
  line-height: 24px;
  font-weight: bold;
  @include adaptive-font(38, 28)
}

//@mixin text-28 {
//  @include regular-style;
//  font-size: 1.75rem;
//  line-height: 32px;
//  font-weight: bold;
//}

@mixin text-24 {
  @include regular-style;
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: bold;
}

@mixin text-18 {
  @include regular-style;
  font-size: 1.125rem;
  line-height: 22px;
  font-weight: bold;
}

@mixin text-16 {
  @include regular-style;
  font-size: 1rem;
  line-height: 22px;
}

@mixin text-14 {
  @include regular-style;
  font-size: 0.875rem;
  line-height: 20px;
}

@mixin text-12 {
  @include regular-style;
  font-size: 0.75rem;
  line-height: 17px;
  color: $c-text-64
}

@mixin h1 {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}

@mixin h2 {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: black;
}

@mixin h3 {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  color: black;
}

$maxWidth: 1180;

@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

@mixin laptop1150 {
  @media(max-width: 1150px) {
    @content
  }
}
