@import "colors";

@mixin regular-style {
  font-style: normal;
  font-weight: 400;
}

@mixin text-44 {
  @include regular-style;
  font-size: 44px;
  line-height: 24px;
  color: $c-text-100;
  font-weight: bold;
}

@mixin text-38 {
  @include regular-style;
  font-size: 38px;
  line-height: 24px;
  color: $c-text-100;
  font-weight: bold;
}

@mixin text-28 {
  @include regular-style;
  font-size: 28px;
  line-height: 32px;
  color: $c-text-100;
  font-weight: bold;
}

@mixin text-18 {
  @include regular-style;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

@mixin text-16 {
  @include regular-style;
  font-size: 16px;
  line-height: 22px;
  color: $c-text-80;
}

@mixin text-14 {
  @include regular-style;
  font-size: 14px;
  line-height: 20px;
}

@mixin text-12 {
  @include regular-style;
  font-size: 12px;
  line-height: 17px;
  color: $c-text-64
}

