<form [formGroup]='form'>

  <app-input
    [password]=true
    placeholder='Текущий пароль'
    formControlName='currentPassword'
  ></app-input>

  <app-input
    [password]=true
    placeholder='Новый пароль'
    formControlName='newPassword'
  ></app-input>

  <app-input
    [password]=true
    placeholder='Повторите пароль'
    formControlName='repassword'
  ></app-input>

  <app-button
    theme='GREY'
    type='submit'
    [disabled]=form.invalid
    (submit)='savePassword()'
  >
    Сохранить
  </app-button>
</form>
