<form [formGroup]='form'>
  <app-input
    placeholder='Имя'
    formControlName='name'
  ></app-input>

  <app-input
    placeholder='Фамилия'
    formControlName='surname'
  ></app-input>

  <app-input
    placeholder='Дата рождения'
    formControlName='birthDate'
  ></app-input>

  <app-input
    placeholder='Номер телефона'
    formControlName='phone'
  ></app-input>

  <app-input
    placeholder='Никнейм в телеграме'
    formControlName='nickname'
  ></app-input>

  <app-input
    placeholder='Город'
    formControlName='city'
  ></app-input>


  <app-button
    theme='GREY'
    type='submit'
    [disabled]=form.invalid
  >
    Сохранить
  </app-button>
</form>

