@import "mixins";

.footer {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 60px auto;

    p {
      @include text-12
    }
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 28px;

    &__link {
      @include text-12;
      text-decoration: underline;
    }
  }
}



