@import "mixins";

.footer {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    width: 80vw;
    margin: 60px auto;

    @include tablet720 {
      flex-direction: column;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 28px;

      @include tablet720 {
        margin-top: 10px;
      }
      @include phone460 {
        flex-direction: column;
        row-gap: 3px;
      }

      &__link {
        @include text-12;
        text-decoration: underline;
      }
    }

    p {
      @include text-12
    }
  }
}



