<section>
  <app-profile-section title='О себе'>
    <app-about-me-form></app-about-me-form>
  </app-profile-section>

  <app-profile-section title='Данные об учете'>
    <app-study-data-form></app-study-data-form>
  </app-profile-section>

  <app-profile-section title='CV'
                       warning='Загрузите файл CV или заполните поля в ручную или и то и другое'
  >
    <app-cv-form></app-cv-form>
  </app-profile-section>

  <app-profile-section title='Изменение пароля'
                       warning=''
  >
    <app-change-password></app-change-password>
  </app-profile-section>
</section>
