@import "mixins";

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h5 {
    font-family: "Neue Machina", serif;
    @include text-18;
  }

  p {
    @include text-14;
  }
}
