<div class='dropdown'>
  <button class='dropdown__button'
          (click)='setShow()'>
    {{selectedOption}}
  </button>
  <app-button-with-icon (submit)='setShow()'>
    <app-icon class='dropdown__icon'
              name='dropdown'
              width='15px'
              height='15px'></app-icon>
  </app-button-with-icon>
</div>

<div class='options__wrapper'>
  <div class='options'
       *ngIf='show'>
    <ul>
      <li *ngFor='let item of optionsList'
          (click)='onChange(item)'>{{item}}</li>
    </ul>
  </div>
</div>
