@import "mixins";

:host {
  position: relative;
}

select {
  width: 99%;
  padding: 20px 0 20px 16px;
  border-radius: 8px;
  color: $c-text-40;
  outline: none;
  border: 1px solid $c-text-16;
  @include text-14;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-bottom: 24px;

  &:focus {
    border: 1px solid $c-blue;
  }

  option {
    @include text-14;
    color: $c-text-40;
    border-radius: 8px;
  }
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 20px;
}
