@import "mixins";

:host {
  display: block;
}

.dropdown {
  border: 1px solid $c-text-16;
  border-radius: 8px;
  position: relative;
  background: white;
  margin-bottom: 20px;
  cursor: pointer;

  &__button {
    padding: 20px 0 20px 16px;
    border: none;
    border-radius: 8px;
    background: white;
    color: $c-text-40;
    @include text-14;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 22px;
    right: 16px;
  }
}

.options {
  box-shadow: 0 4px 24px $c-text-12;
  border-radius: 8px;
  background: white;
  padding: 20px 20px 0 20px;
  max-height: 240px;
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;
  top: -20px;
  overflow-y: scroll;
  cursor: pointer;

  &::-webkit-scrollbar {
    border-radius: 0 8px 8px 0;
    border-left: 1px solid $c-text-16;
    background-color: white;
    width: 22px;
  }

  &::-webkit-scrollbar-thumb {
    background: $c-text-16;
    border: 6px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
  }

  &__wrapper {
    position: relative;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 16px;
    }
  }
}



//select {
//  width: 99%;
//  padding: 20px 0 20px 16px;
//  border-radius: 8px;
//  color: $c-text-40;
//  outline: none;
//  border: 1px solid $c-text-16;
//  @include text-14;
//  appearance: none;
//  -moz-appearance: none;
//  -webkit-appearance: none;
//  margin-bottom: 24px;
//
//  &:focus {
//    border: 1px solid $c-blue;
//  }
//
//  option {
//    @include text-14;
//    color: $c-text-40;
//    border-radius: 8px;
//  }
//}
//
//.dropdown {
//  position: absolute;
//  top: 5px;
//  right: 20px;
//}
