@import "mixins";

.header {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    width: 80vw;
    margin: 0 auto;
    padding: 31px 0;

    &__logo {
      max-width: 20vw;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

    &__link {
      @include text-16;
      color: $c-text-72;
    }

    &__active-link {
      padding: 9px 16px;
      gap: 4px;
      background: rgba(62, 80, 114, 0.08);
      border-radius: 24px;
    }

    &__avatar {
      opacity: 1;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}


