@import "mixins";

.header {
  column-gap: 683px;
  height: 50px;
  background: #002DFF;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 31px 0;
  }
}
