<header class='header'>
	<div class='header__container'>
		<!--		TODO сделать ссылкой для перехода на главную страницу-->
		<a routerLink='/'
		><img src='assets/header/logo.svg'
		      alt='logo'>
		</a>

		<nav class='header__nav'>
			<a routerLink='/'
			   class='header__nav__link'
			   [routerLinkActiveOptions]='{exact:true}'
			   routerLinkActive='header__nav__active-link'
			>Главная</a>

			<a routerLink='/courses'
			   class='header__nav__link'
			   routerLinkActive='header__nav__active-link'
			>Мои курсы</a>

			<app-button
        theme="DEFAULT"
      >
				<img src='assets/header/bell.svg'
				     alt='bell'>
			</app-button>

			<app-button
        theme="DEFAULT"
      >
				<img src='assets/header/profile.svg'
				     alt='profile'>
			</app-button>
		</nav>
	</div>
</header>
