<header>
	<div class='header__container'>
		<a routerLink='/'
		><img src='../../../assets/img/logo.svg'
		      alt='logo'>
		</a>

		<nav class='header__nav'>
			<a routerLink='/'
			   class='header__nav__link'
			   [routerLinkActiveOptions]='{exact:true}'
			   routerLinkActive='header__nav__active-link'
			>Главная</a>

			<a routerLink='/courses'
			   class='header__nav__link'
			   routerLinkActive='header__nav__active-link'
			>Мои курсы</a>

			<app-button
        theme="DEFAULT"
      >
				<img src='../../../assets/svg/bell.svg'
				     alt='bell'>
			</app-button>

			<app-button
        theme="DEFAULT"
        class="header__nav__avatar"
      >
				<img src='../../../assets/img/profile.svg'
				     alt='profile'>
			</app-button>
		</nav>
	</div>
</header>
