@import "mixins";

.header {
  &__container {
    @include flex(row, space-between, center);
    @include width(1180px, 80vw);
    margin: 0 auto;
    padding: 31px 0;

    &__logo {
      max-width: 20vw;
    }
  }

  &__nav {
    @include flex(row, center, center);
    column-gap: 40px;

    @include tablet720 {
      column-gap: 20px;
    }

    &__link {
      @include text-16;
      color: $c-text-72;
      @include tablet610 {
        display: none;
      }
    }

    &__active-link {
      padding: 9px 16px;
      gap: 4px;
      background: $c-text-8;
      border-radius: 24px;
    }

    &__avatar {
      opacity: 1;
      @include tablet610 {
        img {
          width: 24px;
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }

    &__menu {
      display: none;
      @include tablet610 {
        display: initial;
      }
    }
  }
}


