@import "mixins";

a {
  @include flex(row, space-between, center);
  padding: 12px 0;
  border-top: 1px solid $c-text-16;
  border-bottom: 1px solid $c-text-16;
  @include text-14;
  color: $c-text-80;
}

.file_info {
  @include flex(row, flex-start, center);

  p {
    color: $c-text-40;
    margin-right: 10px;
  }
}
