<form [formGroup]='form'>
  <app-file-upload formControlName='cvDownload'></app-file-upload>

  <app-drop-down-list selectedOption='Список технологий'>
  </app-drop-down-list>

  <app-textarea placeholder='Описание опыта'
                formControlName='experience'></app-textarea>

  <app-textarea placeholder='Ссылки на проекты (портфолио)'
                formControlName='portfolio'></app-textarea>


  <app-button theme='GREY'
              type='submit'
              [disabled]=form.invalid
              (submit)='saveCV()'
  >Сохранить</app-button>
</form>
