@import "mixins";

:host {
  @include partialFlex(column);
  background: white;
  outline: none;
  max-height: 100vh;
  overflow: auto;
  width: 200px;
  padding: 12px 0;
  position: absolute;
  top: 90px;
  right: 12vw;
  box-shadow: 0 4px 24px $c-text-12;
  border-radius: 8px;

  //@include laptop1550 {
  //  //right: 20vw;
  //  right: 400px;
  //}

  a {
    @include text-14;
    color: $c-text-72;
    outline: none;
    padding: 8px 20px;

    &:hover {
      background: $c-light-blue;
    }

    &:last-child {
      margin: 0;
    }
  }
}
