@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  outline: none;
  max-height: 100vh;
  overflow: auto;
  width: 200px;
  position: absolute;
  top: 90px;
  right: 170px;
  box-shadow: 0 4px 24px $c-text-12;
  border-radius: 8px;

  a {
    @include text-14;
    color: $c-text-72;
    margin-bottom: 16px;
    outline: none;

    &:last-child {
      margin: 0;
    }
  }
}
