@import "mixins";

.form {
  max-width: 468px;
  width: 32vw;
  background-color: $c-light-blue;
  border-radius: 16px;

  &__container {
    margin: 0 auto;
    padding: 28px;

    &__btn {
      margin-bottom: 20px;
    }

    p {
      @include text-14;
      color: $c-text-40;
      margin: 12px 0;
    }
  }
}
