@import "mixins";

.form {
  max-width: 468px;
  width: 32vw;
  max-height: 70vh;
  background-color: $c-light-blue;
  border-radius: 16px;

  &__container {
    margin: 0 auto;
    padding: 28px;

    &__text {
      margin-bottom: 190px;
    }

    &__btn {
      margin: 12px 0;
    }

    p {
      @include text-14;
      color: $c-text-40;
      margin: 12px 0;
    }

    h6 {
      @include text-14;
      color: $c-text-40;
      margin: -15px 0 10px 8px;
    }
  }
}

