@import "mixins";

:host {
  display: block;
}

.profile {
  @include flex(row, center, center);
  margin: 64px auto 0 auto;

  img {
    width: 100px;
    height: 100px;
    @include tablet610 {
      width: 60px;
      height: 60px;
    }
  }

  &__info {
    @include partialFlex(column);
    margin-left: 10px;

    h3 {
      @include h3;
      margin-bottom: 8px;

      span {
        color: $c-blue;
      }
    }

    p {
      @include p;
      color: $c-text-64;
      margin-top: 8px;

      @include tablet610 {
        margin-top: 0;
      }
    }
  }
}
