@import "../../../styles/mixins";

.form {
  max-width: 468px;
  width: 27vw;
  height: 518px;
  background-color: $c-light-blue;
  border-radius: 16px;

  @include tablet920 {
    width: 70vw;
  }

  &__container {
    margin: 0 auto;
    padding: 28px;
  }

  &__error {
    color: red;
    margin-top: -30px;
    white-space: pre-line;
  }

  h5 {
    @include text-18;
    margin-bottom: 32px;
  }
}
