@import "mixins";

.form {
  max-width: 468px;
  width: 27vw;
  max-height: 70vh;
  background-color: $c-light-blue;
  border-radius: 16px;

  &__container {
    margin: 0 auto;
    padding: 28px;
  }

  &__error {
    color: red;
    margin-top: -30px;
    white-space: pre-line;
  }

  h3 {
    @include text-18;
    margin-bottom: 32px;
  }
}
