<form
  [formGroup]='form'
  class='form'
>
  <div class='form__container'>
    <div>
      <app-form-header title='Войдите в систему'
                       [hasSteps]=false></app-form-header>
      <app-input
        placeholder='Логин'
        formControlName='login'></app-input>

      <ng-container *ngIf="hasError('login', 'required')">
        <app-form-error-message></app-form-error-message>
      </ng-container>
      <ng-container *ngIf="hasError('login', 'pattern')">
        <app-form-error-message text='Неправильный логин'></app-form-error-message>
      </ng-container>

      <app-input
        [password]=true
        placeholder='Пароль'
        formControlName='password'></app-input>

      <ng-container *ngIf="hasError('password', 'required')">
        <app-form-error-message></app-form-error-message>
      </ng-container>
      <ng-container *ngIf="hasError('password', 'minlength')">
        <app-form-error-message text='Минимальная длина пароля 8 символов'></app-form-error-message>
      </ng-container>
      <ng-container *ngIf="hasError('password', 'pattern')">
        <app-form-error-message text='Пароль должен сожержать латинские заглавные и строчные буквы, а также цифру'></app-form-error-message>
      </ng-container>

      <app-button theme="BLUE"
                  type='submit'
                  [wide]=true
                  (submit)='signIn()'
                  [disabled]='!form.valid'
                  class="form__btn"
      >Войти
      </app-button>
    </div>

    <app-form-footer text="У вас еще нет профиля?"
                     routerLink="/signup"
                     action="Зарегистрируйтесь"
    ></app-form-footer>
  </div>
</form>

