@import "mixins";

.form {
  @include width(498px, 31vw);
  background-color: $c-light-blue;
  border-radius: 16px;

  @include tablet920 {
    width: 70vw;
  }

  &__container {
    padding: 28px;
    height: 400px;
    @include flex(column, space-between, normal);
  }

  &__btn {
    margin: 12px 0;
  }

  h5 {
    @include text-18;
    margin-bottom: 32px;
  }
}

