<main class='main'>
  <div class='main__container'>
    <div class='main__block'>
      <div>
        <!--        форма входа-->
        <div class="signupForm">
          <div class="signupForm__container">
            <h4>Создайте свой профиль</h4>

            <div>
              <app-input
                class="signupForm__item"
                placeholder='Имя'
              ></app-input>
              <app-input
                placeholder='Фамилия'
              ></app-input>
              <app-input
                placeholder='Электронная почта'
              ></app-input>

              <app-button
                theme="BLUE"
                [wide]=true
              >Дальше
              </app-button>
            </div>
          </div>
        </div>
      </div>

      <div class='main__block__welcome'>
        <h1>Добро пожаловать в Агону!</h1>
        <p>Мы&nbsp;сделали Агону, чтобы учить тому, что хорошо умеем сами&nbsp;&mdash; создавать крутые цифровые
          продукты</p>
        <img src="/assets/signUp-page/main.svg" alt="welcome">
      </div>
    </div>
  </div>
</main>

<!--<main class='main'>-->
<!--  <div class='main__container'>-->
<!--    <div class='main__block'>-->
<!--      <div>-->
<!--        &lt;!&ndash;        форма входа&ndash;&gt;-->
<!--        <div class="signupForm">-->
<!--          <div class="signupForm__container">-->
<!--            <form [formGroup]="personalDetails">-->
<!--              <div *ngIf="step == 1">-->
<!--                <h4>Создайте свой профиль</h4>-->
<!--                <app-input-->
<!--                  formControlName='name'-->
<!--                  placeholder='Имя'-->
<!--                ></app-input>-->
<!--                <app-input-->
<!--                  formControlName='surname'-->
<!--                  placeholder='Фамилия'-->
<!--                ></app-input>-->
<!--                <app-input-->
<!--                  formControlName='email'-->
<!--                  placeholder='Электронная почта'-->
<!--                ></app-input>-->


<!--                <app-button-->
<!--                  theme="BLUE"-->
<!--                  [wide]=true-->
<!--                >Дальше-->
<!--                </app-button>-->
<!--              </div>-->
<!--            </form>-->

<!--            <form [formGroup]="emailLetter">-->
<!--              <div *ngIf="step == 2">-->
<!--                <h4>Проверьте почту</h4>-->
<!--                <p>Чтобы продолжить регистрацию, перейдите по ссылке в письме, мы отправили его на вашу почту</p>-->
<!--                <p>Если вы не получили письмо, нажмите «Отправить повторно» через 00:04 или напишите на нашу почту</p>-->

<!--                <app-button-->
<!--                  theme="GREY"-->
<!--                  [wide]=true-->
<!--                  (click)="previous()"-->
<!--                >Вернуться назад-->
<!--                </app-button>-->

<!--                <app-button-->
<!--                  theme="BLUE"-->
<!--                  [wide]=true-->
<!--                  (click)="next()"-->
<!--                >Дальше-->
<!--                </app-button>-->
<!--              </div>-->
<!--            </form>-->

<!--            <form [formGroup]="passwordDetails">-->
<!--              <div *ngIf="step == 3">-->
<!--                <h4>Придумайте пароль</h4>-->
<!--                <app-input-->
<!--                  type="password"-->
<!--                  formControlName='password'-->
<!--                  placeholder='Пароль'-->
<!--                ></app-input>-->
<!--                <app-input-->
<!--                  type="password"-->
<!--                  formControlName='repassword'-->
<!--                  placeholder='Повторите пароль'-->
<!--                ></app-input>-->

<!--                <app-button-->
<!--                  theme="GREY"-->
<!--                  [wide]=true-->
<!--                  (click)="previous()"-->
<!--                >Вернуться назад-->
<!--                </app-button>-->

<!--                <app-button-->
<!--                  theme="BLUE"-->
<!--                  [wide]=true-->
<!--                  (click)="submit()"-->
<!--                >Завершить регистрацию-->
<!--                </app-button>-->
<!--              </div>-->
<!--            </form>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class='main__block__welcome'>-->
<!--        <h1>Добро пожаловать в Агону!</h1>-->
<!--        <p>Мы&nbsp;сделали Агону, чтобы учить тому, что хорошо умеем сами&nbsp;&mdash; создавать крутые цифровые-->
<!--          продукты</p>-->
<!--        <img src="/assets/signUp-page/main.svg" alt="welcome">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
