<div class="main__container">
  <!--    нужно вынести в отдельный компонент, но пока что не работает-->
  <form [formGroup]='form'
        class='form'
  >
    <form
      class='form__container'
      formGroupName='userDetails'
      *ngIf='step===1'
    >
      <app-form-header title='Создайте свой профиль' [step]="step"></app-form-header>
      <app-input
        placeholder='Имя'
        formControlName='name'
      ></app-input>
      <app-input
        placeholder='Фамилия'
        formControlName='surname'
      ></app-input>
      <app-input
        type='email'
        placeholder='Электронная почта'
        formControlName='email'
      ></app-input>
      <app-button theme="BLUE"
                  type='submit'
                  [wide]=true
                  (submit)="next()"
                  class='form__container__btn'
      >Дальше
      </app-button>
      <p>Нажимая на&nbsp;кнопку, я&nbsp;соглашаюсь на&nbsp;обработку
        персональных данных</p>
      <app-form-footer></app-form-footer>
    </form>

    <div *ngIf='step===2'
         class='form__container'
    >
      <app-form-header title='Проверьте почту' [step]="step"></app-form-header>

      <p>Чтобы продолжить регистрацию, перейдите по&nbsp;ссылке в&nbsp;письме, мы&nbsp;отправили его на&nbsp;вашу
        почту</p>

      <p>Если вы&nbsp;не&nbsp;получили письмо, нажмите &laquo;Отправить повторно&raquo; через 00:04 или напишите на&nbsp;нашу
        почту</p>

      <app-button theme="BLUE"
                  type='submit'
                  [wide]=true
                  (submit)="next()"
                  class='form__container__btn'
      >Дальше
      </app-button>

      <app-form-footer></app-form-footer>

    </div>

    <form
      class='form__container'
      formGroupName='passwordDetails'
      *ngIf='step===3'
    >
      <app-form-header title='Придумайте пароль' [step]="step"></app-form-header>

      <app-input
        type='password'
        placeholder='Пароль'
        formControlName='password'
      ></app-input>

      <app-input
        type='password'
        placeholder='Повторите пароль'
        formControlName='repassword'
      ></app-input>

      <app-button theme="BLUE"
                  type='submit'
                  [wide]=true
                  (submit)="next()"
                  class='form__container__btn'
      >Дальше
      </app-button>

      <app-form-footer></app-form-footer>
    </form>

    <form
      class='form__container'
      formGroupName='chooseCourse'
      *ngIf='step===4'
    >
      <app-form-header title='Последний этап' [step]="step"></app-form-header>

      <app-drop-down-list
        [items]="['Продуктовый дизайн', 'Лаборатория: IOS-разработка', 'QA. Тестирование для начинающих', 'Frontend-разработка', 'Java-разработка', 'Системная разработка']"
      > Выберите направление
      </app-drop-down-list>

      <app-drop-down-list
        [items]="['1', '2', '3', '4']"
      > Выберите курс
      </app-drop-down-list>

      <app-button theme="BLUE"
                  type='submit'
                  [wide]=true
                  class='form__container__btn'
      >Завершить регистрацию
      </app-button>

      <app-form-footer></app-form-footer>
    </form>
  </form>

  <section class='main__section'>
    <h1>Добро пожаловать в&nbsp;<span>Агону!</span></h1>
    <p>Мы&nbsp;сделали Агону, чтобы учить тому, что хорошо умеем сами&nbsp;&mdash; создавать крутые цифровые
      продукты</p>
    <img src="/assets/signUp-page/main.svg" alt="welcome">
  </section>

</div>
