@import "mixins";

a {
  color: $c-text-100;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $c-blue;
  }

  h3 {
    @include h3;
  }

  h3:first-child {
    margin-right: 10px;
  }
}
