@import "mixins";

:host {
  display: block;
  position: absolute;
  background-color: white;
  padding: 24px;
  bottom: 0;
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 384px;
    width: 70%;
    margin: 0 auto;

    h4 {
      opacity: 0;
    }
  }

  &__profile {
    h3 {
      @include h3;
      margin-left: 10px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    a {
      margin-bottom: 20px;
      @include text-18;
      color: $c-text-100;

      &:hover {
        color: $c-blue;
      }
    }

    &__btn {
      margin-top: 80px;
    }
  }
}
