<div class='course'
     (mouseenter)='this.showButton=true'
     (mouseleave)='this.showButton=false'
>
  <app-icon name='{{img}}'
            class='course__img'
  ></app-icon>
  <div class='course__info'>
    <div class='course__info__top'>
      <span><h4>{{title}}</h4></span>
      <ng-container *ngIf='showButton'>
        <app-button
          theme="WHITE"
        >
          <app-icon name='arrow'
                    width='24px'
                    height='24px'
                    class='course__info__top__btn'
          ></app-icon>
        </app-button>

      </ng-container>
    </div>
  </div>
  <p class='course__text'>{{text}}</p>
</div>


