@import "mixins";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  background-color: #F2F4F7;
  border: none;
  border-radius: 8px;
  width: 320px;
  height: 200px;
  position: relative;
  padding: 28px 28px 0 28px;
  margin-bottom: 24px;

  img {
    padding-left: 170px;
    position: absolute;
    z-index: -2px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;

    h3 {
      @include text-18;
    }
    p {
      @include text-14;
    }
  }
}



