@import "mixins";

.course {
  background-color: $c-light-blue;
  border: none;
  border-radius: 8px;
  width: 320px;
  height: 176px;
  z-index: 2;
  position: relative;
  padding: 28px;
  margin-bottom: 24px;

  @include laptop1150 {
    width: 280px;
  }

  @include phone460 {
    width: 70vw;
  }

  &:hover {
    background-color: $c-blue;
    color: white;

    .course__text {
      color: white;
    }

    .course__img {
      stroke: white;
      fill: none;
    }
  }

  p {
    position: absolute;
    bottom: 28px;
    @include text-14;
    color: $c-text-72;
  }

  &__img {
    position: absolute;
    right: -30px;
    fill: none;
    stroke: $c-blue;
  }

  &__info {
    @include partialFlex(column);

    &__top {
      @include flex(row, space-between, center);

      &__btn {
        z-index: 2;
      }

      span {
        width: 13vw;
        @include phone460 {
          width: 80vw;
        }
      }

      h4 {
        font-family: "Neue Machina", serif;
        margin-top: -3px;
      }
    }
  }
}


