@import "mixins";

:host {
  display: flex;
  @include width(1180px, 82vw);
  background-color: $c-light-blue;
  border-radius: 16px;
  margin-top: 32px
}

.section {
  display: flex;
  justify-content: space-between;
  @include width(980px, 85%);
  margin: 0 auto;
  padding: 48px 0;

  &__info {
    @include width(280px, 30%);

    h4 {
      @include text-18;
      font-family: "Neue Machina", serif;
    }

    p {
      @include text-14;
      color: $c-text-64;
    }
  }

  &__content {
    @include width(580px, 60%);
  }
}
