@import "mixins";

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40vh;

  h2 {
    color: red;
  }

  a {
    margin-top: 30px;
    @include text-16;
    color: $c-text-100;

    &:hover {
      color: $c-blue;
    }
  }
}
