<app-layout-container>
  <app-spinner></app-spinner>
  <main>
    <img src="/assets/svg/bigA.svg" alt="alpha">
    <div class='block__description'>
      <h1>Привет, <span>Рустем!</span></h1>
      <p>Мы&nbsp;сделали Агону, чтобы учить тому, что хорошо умеем сами&nbsp;&mdash; создавать крутые цифровые
        продукты.</p>
    </div>

    <section class='block__courses'>
      <h3>Твои курсы</h3>

<!--      <app-count-down-timer [init]='4'></app-count-down-timer>-->

      <div class='block__courses__list'>
        <ng-container *ngFor='let item of courses$| async'>
          <app-course-card [title]="item.title"
                           [text]="item.text"
                           [img]="item.img"
          ></app-course-card>
        </ng-container>
      </div>
    </section>
  </main>
</app-layout-container>
