@import "mixins";

:host {
  display: block;
}

main {
  max-width: 1180px;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

img {
  position: absolute;
  right: -70px;
  z-index: -3;
  margin-top: -90px;

  @include tablet720 {
    display: none;
  }
}

.block {
  &__description {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 480px;
    width: 35vw;
    @include laptop1150 {
      width: 80vw;
    }
    @include tablet720 {
      width: 60vw;
      margin-top: 50px;
    }
    @include phone460 {
      width: 80vw;
    }
    h1 {
      @include h1;
    }

    p {
      @include p;
      margin-top: 25px;
    }

    span {
      color: $c-blue;
    }
  }

  &__courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;

    h3 {
      @include h3;
    }

    &__list {
      margin-top: 24px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      @include tablet840 {
        justify-content: center;
      }
    }
  }
  span {
    color: $c-blue;
  }
}
