@import "mixins";

:host {
  padding: 20px;
  background: white;
  outline: none;
  max-height: 100vh;
  overflow: auto;
  //TODO исправить
  max-width: 240px;
  width: 240px;
  position: absolute;
  top: 76px;
  right: 136px;
  box-shadow: 0 4px 24px $c-text-12;
  border-radius: 8px;

}
