@import "mixins";

:host {
  padding: 48px;
  background: white;
  outline: none;
  max-height: 100vh;
  overflow: auto;
  border-radius: 26px;
  max-width: 480px;

  ::ng-deep {
    & > * {
      display: block;
    }
  }
}
