<div class="practicalWork__back">
  <app-button theme="LIGHTGREY"
              routerLink="/courses"
  >
    <app-icon name='darkArrow'
              width='24px'
              height='24px'
    ></app-icon>
  </app-button>
  <p>Назад</p>
</div>

<div *ngIf='practicalWork'
     class="practicalWork"
>
  <h4>Задача</h4>

  <h5>Общая информация:</h5>
  <ul>
    <li>какая цель выполнения этого задания,</li>
    <li>что именно нужно сделать,</li>
    <li>сколько максимально баллов за задание можно получить,</li>
    <li>какие сроки сдаичи,</li>
    <li>как сдавать на проверку и как она будет проходить,</li>
  </ul>

  <h5>Технические требования</h5>
  <ul>
    <li>для каких версий систем, ОС, браузеров</li>
    <li>какие инструменты можно/нужно/нельзя использоать</li>
  </ul>

  <h5>Рекомендации к выполнению</h5>
  <p>{{practicalWork.recommendations}}</p>

  <h4>Материалы</h4>

  <div class="practicalWork__files">
    <app-file-download file='/assets/files/techTask.docx'
    ></app-file-download>
  </div>

  <app-button>Скачать все</app-button>

</div>
