@import "mixins";

:host {
  display: flex;
  flex-direction: column;
}

.practicalWork {
  max-width: 780px;
  width: 55vw;
  margin-left: 200px;

  &__back {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-left: 12px;
      color: $c-text-72;
    }
  }

  &__files {
    margin-bottom: 24px;
  }

  h2 {
    @include text-24;
    margin-top: 40px;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 24px;
  }

  p, li {
    @include text-16;
    color: $c-text-64;
  }
}
