@import "mixins";

input {
  width: 96%;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid $c-text-16;
  padding: 20px 0 20px 16px;
  outline: none;

  &:focus {
    border: 1px solid $c-blue;
  }
}


