@import "mixins";

.input {
  width: 100%;
  border: none;

  &:focus {
    border-color: $c-white;
    outline: none !important;
  }

  &__wrapper {
    background-color: $c-white;
    padding: 20px 16px;
    border-radius: 8px;
    border: 1px solid $c-text-16;
    color: $c-text-40;
  }
}

