<div class='container'>
  <input [type]="this.password ? (visible ? 'text' : 'password') : type"
         (change)='onChange($event)'
  >

  <label [class]="value && 'filled'">{{placeholder}}</label>

  <ng-container *ngIf='password'>
    <app-button-with-icon
                (submit)='toggle()'
                theme='DEFAULT'
                class='button'
    >
      <ng-container *ngIf='visible; else hide'>
        <app-icon name='show'
                  width='24px'
                  height='24px'
        ></app-icon>
      </ng-container>
    </app-button-with-icon>
  </ng-container>
</div>

<ng-template #hide>
  <app-icon name='hide'
            width='24px'
            height='24px'
  ></app-icon>
</ng-template>
