<form
  class='form__container'
  [formGroup]='passwordDetails'
>
  <div>
    <app-form-header title='Придумайте пароль'></app-form-header>

    <app-input
      [password]=true
      placeholder='Пароль'
      formControlName='password'
    ></app-input>
    <h6>Придумайте пароль, в котором содержится от 8 символов</h6>

    <app-input
      [password]=true
      placeholder='Повторите пароль'
      formControlName='repassword'
    ></app-input>

    <!--    тут еще должна быть проверка на совпадение паролей-->

    <app-button theme="BLUE"
                type='submit'
                [wide]=true
                routerLink='/signup/choice'
                class='form__container__btn'
    >Дальше
    </app-button>
  </div>
  <app-form-footer></app-form-footer>
</form>
