@import "mixins"

body
  margin: 0
  padding: 0
  background: $c-white
  color: $c-text-100
  font-family: Inter, sans-serif

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

h1, h3, h5, h6, p, h2
  margin: 0 0

a
  text-decoration: none
