@import "src/app/styles/mixins";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: none;

  &__wide {
    width: 100%
  }
}
