@import "mixins";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  @include text-14;
  padding: 16px 25px;

  border: none;
  cursor: pointer;
  background: none;

  &__blue {
    @extend .btn;
    background: $c-blue;
    color: $c-white;
    // неправильно, но стиль к кастомной кнопке почему то не применяется
    margin: 15px 0;
  }

  &__grey {
    @extend .btn;
    background: $c-dark-grey;
    color: $c-text-80;
  }

  &__white {
    @extend .btn;
    background: $c-white;
    padding: 16px;
  }

  &__default {
    @extend .btn;
    color: $c-text-100;
    padding: 0;
  }

  &__wide {
    width: 100%
  }
}
